@font-face {
	font-family: 'Merriweather';
	src: url('../fonts/Merriweather/Merriweather-Black.woff2') format('woff2'),
			url('../fonts/Merriweather/Merriweather-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Merriweather';
	src: url('../fonts/Merriweather/Merriweather-Bold.woff2') format('woff2'),
			url('../fonts/Merriweather/Merriweather-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Merriweather';
	src: url('../fonts/Merriweather/Merriweather-Regular.woff2') format('woff2'),
			url('../fonts/Merriweather/Merriweather-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Merriweather';
	src: url('../fonts/Merriweather/Merriweather-Light.woff2') format('woff2'),
			url('../fonts/Merriweather/Merriweather-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Golos';
	src: url('../fonts/Golos/GolosText-Bold.woff2') format('woff2'),
			url('../fonts/Golos/GolosText-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Golos';
	src: url('../fonts/Golos/GolosText-Medium.woff2') format('woff2'),
			url('../fonts/Golos/GolosText-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Golos';
	src: url('../fonts/Golos/GolosText-Regular.woff2') format('woff2'),
			url('../fonts/Golos/GolosText-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}